.top-titles {
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
}

#map-container {
	border: 1px solid #ccc;
	margin-top: 20px;
}

#map {
	height: 750px;
}

#credit-line {
	text-align: right;
	font: 10px serif;
}